# Python bytecode files
*.pyc
*.pyo
*.pyd
# Virtual environment directories
venv/
env/
.venv/
.env/
# Ignore coverage reports
.coverage
.coverage.*
# Ignore pytest cache
.pytest_cache/
# Ignore logs
*.log
# Ignore model files
*.rknn
*.onnx

# Directories to ignore
__pycache__/
build/
dist/
.eggs/
*.egg-info/
.vscode/
.ipynb_checkpoints/
htmlcov/
outputs/
models/

# Miscellaneous
*.whl
*.egg*
precision_evaluation*

# Test files
!tests/data/random_bert/model.onnx
!tests/data/random_bert/rknn/model_b1_s32_o3.rknn
!tests/data/random_roberta/model.onnx

# Documentation
docs/build/
docs/source/_build/